<app-universal-view>
    <div class="container-fluid">
        <div class="row card">
            <div class="col-12 filterCol">
                <div class="filterBtn"></div>
                <div class="filterBlock">
                    <div class="items">
                        <div class="item">
                            <span>isWarning</span> <input type="checkbox" name="isWarning" id="isWarning">
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="btn btn-primary btn-small font_geo small_font"> გაფილტვრა </div>
                    </div>
                </div>
            </div>
            <div class="col-12 table">
                <!-- <app-sections-table [data]="sectionsList" ></app-sections-table> -->
            </div>
        </div>
    </div>
</app-universal-view>